    #map{
        width: 100%;
        height: 100%;
        position: relative;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url(../image/bg_H.jpg);
    }
    .launch{
        width: 3.14rem;
        height: 3.46rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url(../image/launch_H.png);
        position: absolute;
        left: 0%;
        top: 31.33333333%;
    }
    .h_light{
        width: 59%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;       
        box-shadow: 0 0 0.5rem 0.1rem #fff;
    }
    .cell_fra{
        width: 4.97rem;
        height: 4.97rem;
        position: absolute;
        right: 5.54722638%;
        top: 16.86666666%;
    }
    .cell{
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url(../image/cell.png);
        position: absolute;
    }
    .cell_0{
       top: 18.20925553%;
       left: 18.20925553%;
       /* opacity: 0.5; */
    }
    .cell_1{
        top: 8.45070422%;
        left: 8.45070422%;
     }
    .cell_2{
        top: 0%;
        left: 0%; 
    }
    .treasure{
        width: 1.86rem;
        height: 1.05rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url(../image/treasure.png);
        position: absolute;
        top: 38.43058350%;
        left: 31.28772635%;
    }
    .blonum_sty{
        width: 0.87rem;
        height: 0.31rem;
        line-height: 0.31rem;
        position: absolute;
        left: 3.53333333%;
        bottom: 3.46666666%;
        font-size: 0.4rem;
        color: #fff;
        text-align: center;
    }
    .rocnum_sty{
        width: 0.87rem;
        height: 0.31rem;
        line-height: 0.31rem;
        position: absolute;
        bottom: 10.53333333%;
        left: 0.19910044%;
        font-size: 0.1rem;
        color: rgb(228, 208, 33);
        text-align: center;
    }
    .dia{
        width: 0.7rem;
        height: 0.7rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url(../image/diamonds.png);
        position: absolute;
    }
    .rock{
        animation: rock .5s 2;
    }
    @keyframes rock{
        0% {
            transform: rotate3D(0,0,1,0deg);
        }
        25% {
            transform: rotate3D(0,0,1,50deg);
        }
        50% {
            transform: rotate3D(0,0,1,0deg);
        }
        75% {
            transform: rotate3D(0,0,1,-50deg);
        }
        100% {
            transform: rotate3D(0,0,1,0deg);
        }
    }
    .tor{
        width: 0.7rem;
        height: 0.7rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url(../image/tor.png);
        position: absolute;
    }
    .rift{
        width: 0.47rem;
        height: 0.47rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url(../image/rift_H.png);
        position: absolute;
    }
    .rocket{
        /* width: 0.17rem;
        height: 1.27rem; */
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url(../image/rocket_H.png);
        position: absolute;
        right: 0%;
    }
    .cell_bro{
        position: absolute;
    }
    .tor_boom{
        width: 1.51rem;
        height: 1.57rem;
        position: absolute;
    }
    .roc_boom{
        width: 3.0rem;
        height: 2.6rem;
        position: absolute;
    }
    .hand{
        width: 0.76rem;
        height: 0.76rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url(../image/hand.png);
        position: absolute;
        top: 40%;
        right: 70%;
        z-index: 4;
        animation: fil .8s linear infinite;
    }
    @keyframes fil{
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .download{
        width: 1.75rem;
        height: 0.75rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url(../image/download.png);
        position: absolute;
        bottom: 2.46666666%;
        right: 2.69865067%;
    }    
    .advertising{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height:5.1rem;
        width:7.68rem;        
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .advic{
        background-image: url("../image/landsuccess_en.jpg");
    }
    .addef{
        background-image: url("../image/landfail_en.jpg");
    }
